
.ielts-sidebar {
  position: fixed;
  top: 75px; /* Start right below the main navbar */
  left: 0;
  height: calc(100% - 60px); /* Make sure it doesn't go below the page */
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  z-index: 100;
  overflow-y: auto;
}

/* Content Styles */
.ielts-content {
  margin-left: 270px; /* Space for the sidebar */
  padding: 20px;
  margin-top: 90px; /* Push content below the main navbar */
}

